.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../static/images/backgrounds/background-with-characters.png) center
    center/cover no-repeat;
    height: 892px;
}